# PostgreSQL (Neon)
DATABASE_URL=

# JWT
JWT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email Settings
EMAIL_USER=
EMAIL_PASS=
ADMIN_EMAIL=

# Application URL
APP_URL=

# AI Configuration
GEMINI_API_KEY=AIzaSyC9QLOFqCRPEma_HqD_fqkUZaEQVIgJC1E
